@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    overscroll-behavior: none;
    font-size: 16px;
    background-color: black;
}

body{
    color: white;
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    min-height: 100vh;
    padding-bottom: 50px;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-image: url(./images/space.png);
    animation: bgfade 2s ease-out
}

@keyframes bgfade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
}

/* modifiers */

.fade{
    animation: fade 1.5s ease-out
}

@keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.crisp-edges {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.button{
    max-width: 88px;
}

.luna{
    max-width: 200px;
}

.gap{
    gap: 10px;
}

.silly{
    grid-row: span 2;
    grid-column: span 2;
}

.grid{
    display: grid;
}

.border{
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.grow{
    flex: 1;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}

.hover{
    transition: scale ease 0.3s,
                border-radius ease 0.3s;
}

.hover-button{
    transition: scale ease 0.3s,
                border-radius ease 0.3s;
}

.hover-button:hover{
    scale: 1.1;
    border-radius: 10px;
}

.hover:hover{
    scale: 1.03;
    border-radius: 10px;
}

.text.small{
    font-size: clamp(5px, 0.75rem, 20px);
}

.text.artist{
    font-size: clamp(5px, 0.55rem, 10px);
}

.text.title{
    font-size: clamp(5px, 1.75rem, 32px);
}

/* versions */

.image.game{
    width: auto;
    height: 2.75vh;
}

.social.youtube{
    background-color: #0f0f0f;
}

.social.spotify{
    background-color: black;
}

.social.xbox{
    background: linear-gradient(180deg, #77bb44, #139213);
}

.social.swag{
    background-color: rgb(52, 48, 58);
}

.social.steam{
    background: linear-gradient(0deg, #0353b4, #1b2838, #171A21);
}

.social.instagram{
    background: radial-gradient(
    circle farthest-corner at 28% 100%,
    #fcdf8f 0%,
    #fbd377 10%,
    #fa8e37 22%,
    #f73344 35%,
    transparent 65%
    ), 
    linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}

.grid.twothree{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid.games{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid.ppl{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.grid.songs{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.card.redirect{
    padding: 50px;
}

.card.small{
    max-height: 20%;
}

.container.small{
    max-width: 500px;
}

.card.inside{
    background-color: transparent;
}

.popup-parent{
    position: relative;
}

.visible{
    opacity: 100;
}

.invisible{
    opacity: 0;
}

/* content */

.popup{
    position: absolute;
    z-index: 999;
}

.logo{
    max-width: 25px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.container{
    gap: 10px;
    box-sizing: border-box;
}

.card{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.text{
    text-align: center;
    color: white;
    font-family: "Kode Mono", monospace;
    margin: 0;
}

.emoji{
    aspect-ratio: 1/1;
    max-width: 1.5rem;
}

.pfp-container{
    border-radius: 5px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    overflow: hidden;
}

.image-container{
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 16/9;
    box-sizing: border-box;
}

.image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.social{
    padding: 15px;
}